<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>file upload</title>
</head>
<body>

<div class="container">
  <div class="image-preview mb-3" *ngIf="previewUrl">
    <img [src]="previewUrl" height="300" />
  </div>
  <input type="file" name="file" ng2FileSelect [uploader]="uploader" />
  <button type="button" class="btn btn-success btn-s"
          (click)="uploader.uploadAll()"
          [disabled]="!uploader.getNotUploadedItems().length" >
    Upload
  </button>

</div>
</body>
</html>
