<form [formGroup]="stateForm">
<mat-accordion class="example-headers-align">
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Personal data
      </mat-panel-title>
      <mat-panel-description >
        Type your details
        <mat-icon>account_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-form-field>

    <input matInput placeholder="User name" [formControl]="usernameControl"  #username   required>
        <mat-error *ngIf="usernameControl.hasError('required')">
          Username is <strong>required</strong>
        </mat-error>
    </mat-form-field>
     <br>
    <mat-form-field>
      <!-- <input matInput placeholder="First name" > -->
    <input matInput placeholder="First name" [formControl]="firstNameControl" #firstName [errorStateMatcher]="matcher"  >
    <mat-error *ngIf="firstNameControl.hasError('required')">
      First Name is <strong>required</strong>
    </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Last name">
    </mat-form-field>
    <br>
    <mat-form-field>
    <input matInput type="number"  placeholder="Mobile Number"> <!-- min="1" -->
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="Date of Birth" [matDatepicker]="picker" (focus)="picker.open()" readonly>
        </mat-form-field>

    <br>        <!-- <mat-form-field class="example-full-width"> -->

    <mat-form-field >
      <input matInput placeholder="Email" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
      <mat-hint>Errors appear instantly!</mat-hint>
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>


    <mat-action-row>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Place of Birth
      </mat-panel-title>
      <mat-panel-description>
        Type your country name
        <mat-icon>map</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
      <input matInput placeholder="Country">
    </mat-form-field>
    <mat-form-field class="example-full-width" >
      <input type="text" matInput placeholder="States Group" formControlName="stateGroup"  [matAutocomplete]="autoGroup" required>
        <mat-autocomplete #autoGroup="matAutocomplete">
          <mat-optgroup *ngFor="let group of stateGroupOptions | async" [label]="group.letter">
            <mat-option *ngFor="let namex of group.names" [value]="namex">
              {{namex}}
            </mat-option>
          </mat-optgroup>
        </mat-autocomplete>
      </mat-form-field>
    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Others
      </mat-panel-title>
      <mat-panel-description>
        Other details
        <mat-icon>date_range</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>


      <mat-form-field class="example-full-width">
        <!-- <input matInput placeholder="secret word" value="???" formControlName="secret_word"> -->
        <input matInput placeholder="secret word"  formControlName="secret_word">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Leave a comment"></textarea>

      </mat-form-field>
      <mat-form-field class="example-full-width">
       <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
       <mat-autocomplete #auto="matAutocomplete">
         <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
           {{option}}
         </mat-option>
       </mat-autocomplete>
     </mat-form-field>

    <mat-datepicker #picker></mat-datepicker>

    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">End</button>
    </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>
<div class="form-group">
  <button (click)="addAdUnit(username.value, emailFormControl.value)" [disabled]="usernameControl.hasError('required') || stateForm.invalid " class="btn btn-primary">Create account</button>
</div>
</form>
<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
